In [2]:
import json
import requests
import pandas as pd

In [3]:
postal_code_list = [] # To store postal codes returned
latitude_list = []
longitude_list = []

Import Dataset

In [4]:
file = pd.read_csv("./Indiv dataset/Housing Resale Dataset.csv")
file.head()

,Block,Full Address,Flat Model,Flat Type,Floor Area (sqm),Lease Commencement Date,Year of Lease commencement,Month of Resale,Year of Resale,Resale Price,Storey Range,Street Name,Town,Remaining Lease Duration
0,100,100 LOR 1 TOA PAYOH,Improved,3 ROOM,68.0,"Thu,01 Jan 70",1970,"Mon,01 May 17",2017,325000,13 TO 15,LOR 1 TOA PAYOH,TOA PAYOH,52
1,100,100 LOR 1 TOA PAYOH,Improved,3 ROOM,78.0,"Thu,01 Jan 70",1970,"Mon,01 May 17",2017,330800,13 TO 15,LOR 1 TOA PAYOH,TOA PAYOH,52
2,98,98 LOR 1 TOA PAYOH,Improved,3 ROOM,78.0,"Thu,01 Jan 70",1970,"Thu,01 Jun 17",2017,338000,13 TO 15,LOR 1 TOA PAYOH,TOA PAYOH,52
3,116,116 LOR 2 TOA PAYOH,Improved,3 ROOM,63.0,"Thu,01 Jan 70",1970,"Tue,01 Aug 17",2017,315000,13 TO 15,LOR 2 TOA PAYOH,TOA PAYOH,52
4,125,125 LOR 1 TOA PAYOH,Improved,3 ROOM,67.0,"Thu,01 Jan 70",1970,"Tue,01 Aug 17",2017,305000,13 TO 15,LOR 1 TOA PAYOH,TOA PAYOH,52

In [7]:
add = file["Full Address"]
len(add)

141634

In [8]:
a = add.unique()

In [9]:
len(a)

8792

Test individual address

In [25]:
# addr ="100 LOR 1 TOA PAYOH"
query_string='https://developers.onemap.sg/commonapi/search?searchVal='+add[29171]+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
resp = requests.get(query_string)
    
#Convert JSON into Python Object
print("Converting to python obj")
data=json.loads(resp.content)
    
# Add values into the postal code, lang and lon list
print(data['results'][0]["POSTAL"]) 
print(data['results'][0]['LATITUDE'])
print(data['results'][0]["LONGITUDE"])

print('Done.')

Converting to python obj
460002
1.321301188
103.9332996
Done.

Convert the unique addresses

In [10]:
print("One map api")

for i in range(len(a)):
#     i += 8000
    print(i)
    query_string='https://developers.onemap.sg/commonapi/search?searchVal='+a[i]+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    resp = requests.get(query_string)
    
    #Convert JSON into Python Object
    print("Converting to python obj")
    data=json.loads(resp.content)
    
    # Add values into the postal code, lang and lon list
    postal_code_list.append(data['results'][0]["POSTAL"])
    latitude_list.append(data['results'][0]['LATITUDE'])
    longitude_list.append(data['results'][0]["LONGITUDE"])

print('Done.')

One map api
0
Converting to python obj
1
Converting to python obj
2
Converting to python obj
3
Converting to python obj
4
Converting to python obj
5
Converting to python obj
6
Converting to python obj
7
Converting to python obj
8
Converting to python obj
9
Converting to python obj
10
Converting to python obj
11
Converting to python obj
12
Converting to python obj
13
Converting to python obj
14
Converting to python obj
15
Converting to python obj
16
Converting to python obj
17
Converting to python obj
18
Converting to python obj
19
Converting to python obj
20
Converting to python obj
21
Converting to python obj
22
Converting to python obj
23
Converting to python obj
24
Converting to python obj
25
Converting to python obj
26
Converting to python obj
27
Converting to python obj
28
Converting to python obj
29
Converting to python obj
30
Converting to python obj
31
Converting to python obj
32
Converting to python obj
33
Converting to python obj
34
Converting to python obj
35
Converting to python obj
36
Converting to python obj
37
Converting to python obj
38
Converting to python obj
39
Converting to python obj
40
Converting to python obj
41
Converting to python obj
42
Converting to python obj
43
Converting to python obj
44
Converting to python obj
45
Converting to python obj
46
Converting to python obj
47
Converting to python obj
48
Converting to python obj
49
Converting to python obj
50
Converting to python obj
51
Converting to python obj
52
Converting to python obj
53
Converting to python obj
54
Converting to python obj
55
Converting to python obj
56
Converting to python obj
57
Converting to python obj
58
Converting to python obj
59
Converting to python obj
60
Converting to python obj
61
Converting to python obj
62
Converting to python obj
63
Converting to python obj
64
Converting to python obj
65
Converting to python obj
66
Converting to python obj
67
Converting to python obj
68
Converting to python obj
69
Converting to python obj
70
Converting to python obj
71
Converting to python obj
72
Converting to python obj
73
Converting to python obj
74
Converting to python obj
75
Converting to python obj
76
Converting to python obj
77
Converting to python obj
78
Converting to python obj
79
Converting to python obj
80
Converting to python obj
81
Converting to python obj
82
Converting to python obj
83
Converting to python obj
84
Converting to python obj
85
Converting to python obj
86
Converting to python obj
87
Converting to python obj
88
Converting to python obj
89
Converting to python obj
90
Converting to python obj
91
Converting to python obj
92
Converting to python obj
93
Converting to python obj
94
Converting to python obj
95
Converting to python obj
96
Converting to python obj
97
Converting to python obj
98
Converting to python obj
99
Converting to python obj
100
Converting to python obj
101
Converting to python obj
102
Converting to python obj
103
Converting to python obj
104
Converting to python obj
105
Converting to python obj
106
Converting to python obj
107
Converting to python obj
108
Converting to python obj
109
Converting to python obj
110
Converting to python obj
111
Converting to python obj
112
Converting to python obj
113
Converting to python obj
114
Converting to python obj
115
Converting to python obj
116
Converting to python obj
117
Converting to python obj
118
Converting to python obj
119
Converting to python obj
120
Converting to python obj
121
Converting to python obj
122
Converting to python obj
123
Converting to python obj
124
Converting to python obj
125
Converting to python obj
126
Converting to python obj
127
Converting to python obj
128
Converting to python obj
129
Converting to python obj
130
Converting to python obj
131
Converting to python obj
132
Converting to python obj
133
Converting to python obj
134
Converting to python obj
135
Converting to python obj
136
Converting to python obj
137
Converting to python obj
138
Converting to python obj
139
Converting to python obj
140
Converting to python obj
141
Converting to python obj
142
Converting to python obj
143
Converting to python obj
144
Converting to python obj
145
Converting to python obj
146
Converting to python obj
147
Converting to python obj
148
Converting to python obj
149
Converting to python obj
150
Converting to python obj
151
Converting to python obj
152
Converting to python obj
153
Converting to python obj
154
Converting to python obj
155
Converting to python obj
156
Converting to python obj
157
Converting to python obj
158
Converting to python obj
159
Converting to python obj
160
Converting to python obj
161
Converting to python obj
162
Converting to python obj
163
Converting to python obj
164
Converting to python obj
165
Converting to python obj
166
Converting to python obj
167
Converting to python obj
168
Converting to python obj
169
Converting to python obj
170
Converting to python obj
171
Converting to python obj
172
Converting to python obj
173
Converting to python obj
174
Converting to python obj
175
Converting to python obj
176
Converting to python obj
177
Converting to python obj
178
Converting to python obj
179
Converting to python obj
180
Converting to python obj
181
Converting to python obj
182
Converting to python obj
183
Converting to python obj
184
Converting to python obj
185
Converting to python obj
186
Converting to python obj
187
Converting to python obj
188
Converting to python obj
189
Converting to python obj
190
Converting to python obj
191
Converting to python obj
192
Converting to python obj
193
Converting to python obj
194
Converting to python obj
195
Converting to python obj
196
Converting to python obj
197
Converting to python obj
198
Converting to python obj
199
Converting to python obj
200
Converting to python obj
201
Converting to python obj
202
Converting to python obj
203
Converting to python obj
204
Converting to python obj
205
Converting to python obj
206
Converting to python obj
207
Converting to python obj
208
Converting to python obj
209
Converting to python obj
210
Converting to python obj
211
Converting to python obj
212
Converting to python obj
213
Converting to python obj
214
Converting to python obj
215
Converting to python obj
216
Converting to python obj
217
Converting to python obj
218
Converting to python obj
219
Converting to python obj
220
Converting to python obj
221
Converting to python obj
222
Converting to python obj
223
Converting to python obj
224
Converting to python obj

IndexError: list index out of range

In [12]:
len(postal_code_list)
len(latitude_list)
len(longitude_list)

224

Manually append any missing values

In [11]:
a[8766]

'74 MARINE DR'

In [ ]:
# List of Lat and Long for st. george
# 1: 1.3235952146119074, 103.86170467032655
# 2: 1.323673796422827, 103.8606826656719
# 3: 1.3231128705026862, 103.86129935403257
# 4b: 1.3225534524085354, 103.86026942614627
# 4c: 1.322627674463197, 103.86070332308164
# 5: 1.3235576185113502, 103.85977956937685
# 6: 1.3235114522877474, 103.85914536937678
# 7: 1.3240861262428238, 103.85916682704895
# 8: 1.3239117925077164, 103.8599070251965
# 9: 1.3237857587606552, 103.86295208196606

# 23: 1.3251849404677518, 103.86298603963812
# 22: 1.3254952260710071, 103.86236845312992
# 21: 1.3249873443547049, 103.86224561170467
# 20: 1.3249296924232734, 103.86287373868835
# 19: 1.3246636924453505, 103.86261609731018
# 18: 1.3244700482840872, 103.8628500233441
# 17: 1.324106844435381, 103.86231125218008
# 15: 1.3246023963297309, 103.86183098381842
# 16: 1.3247239820758663, 103.86230294953542
# 14: 1.323804470436362, 103.86217319636043
# 13: 1.3235132665663383, 103.86274906937676
# 11: 1.324064973942758, 103.86341996137696
# 10: 1.3240245704152587, 103.86332142429382

In [112]:
postal_code_list.append('321001')
latitude_list.append('1.3235952146119074')
longitude_list.append('103.86170467032655')

In [24]:
df = pd.DataFrame(postal_code_list)

In [25]:
df["Lat"] = latitude_list
df["Lon"] = longitude_list

In [26]:
df.head()

        0          Lat          Lon
0  310100  1.339564005  103.8485857
1  310098   1.33917578  103.8483801
2  310116  1.340472872  103.8461425
3  310125  1.338331334  103.8457371
4  310126  1.337814657  103.8451309

In [ ]:
df.to_csv('./API V3.csv')

Run API for primary schools after deleting columns

In [4]:
file = pd.read_csv("./Indiv dataset/Primary school V3.csv")
s = file["postal_code"]

In [16]:
print("One map api")

for i in range(len(s)):
#     i += 123
    print(i)
    query_string='https://developers.onemap.sg/commonapi/search?searchVal='+str(s[i])+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    resp = requests.get(query_string)
    
    #Convert JSON into Python Object
    print("Converting to python obj")
    data=json.loads(resp.content)
    
    # Add values into the lang and lon list
    latitude_list.append(data['results'][0]['LATITUDE'])
    longitude_list.append(data['results'][0]["LONGITUDE"])

print('Done.')

One map api
123
Converting to python obj
124
Converting to python obj
125
Converting to python obj
126
Converting to python obj
127
Converting to python obj
128
Converting to python obj
129
Converting to python obj
130
Converting to python obj
131
Converting to python obj
132
Converting to python obj
133
Converting to python obj
134
Converting to python obj
135
Converting to python obj
136
Converting to python obj
137
Converting to python obj
138
Converting to python obj
139
Converting to python obj
140
Converting to python obj
141
Converting to python obj
142
Converting to python obj
143
Converting to python obj
144
Converting to python obj
145
Converting to python obj
146
Converting to python obj
147
Converting to python obj
148
Converting to python obj
149
Converting to python obj
150
Converting to python obj
151
Converting to python obj
152
Converting to python obj
153
Converting to python obj
154
Converting to python obj
155
Converting to python obj
156
Converting to python obj
157
Converting to python obj
158
Converting to python obj
159
Converting to python obj
160
Converting to python obj
161
Converting to python obj
162
Converting to python obj
163
Converting to python obj
164
Converting to python obj
165
Converting to python obj
166
Converting to python obj
167
Converting to python obj
168
Converting to python obj
169
Converting to python obj
170
Converting to python obj
171
Converting to python obj
172
Converting to python obj
173
Converting to python obj
174
Converting to python obj
175
Converting to python obj
176
Converting to python obj
177
Converting to python obj
178
Converting to python obj
179
Converting to python obj
180
Converting to python obj
181

KeyError: 181

Manually append any values that caused error

In [18]:
s[180]

556095

In [15]:
latitude_list.append('1.2754818389215024')
longitude_list.append('103.8241152803621')

Export data to CSV

In [19]:
file["Lat"]=latitude_list
file["Lon"]=longitude_list

In [20]:
file.head()

,school_name,address,postal_code,mrt_desc,bus_desc,dgp_code,zone_code,type_code,nature_code,mainlevel_code,Lat,Lon
0,ADMIRALTY PRIMARY SCHOOL,11 WOODLANDS CIRCLE,738907,Admiralty Station,"TIBS 965, 964, 913",WOODLANDS,NORTH,GOVERNMENT SCHOOL,CO-ED SCHOOL,PRIMARY,1.4426796169999998,103.80011440000001
1,AHMAD IBRAHIM PRIMARY SCHOOL,10 YISHUN STREET 11,768643,Yishun,Yishun Ring Road - 812 (white plate); Yishun A...,YISHUN,NORTH,GOVERNMENT SCHOOL,CO-ED SCHOOL,PRIMARY,1.4336812069999998,103.8329243
2,AI TONG SCHOOL,100 Bright Hill Drive,579646,Bishan MRT,"410, 162, 52",BISHAN,SOUTH,GOVERNMENT-AIDED SCH,CO-ED SCHOOL,PRIMARY,1.360736365,103.8330757
3,ALEXANDRA PRIMARY SCHOOL,2A Prince Charles Crescent,159016,Redhill Station Tiong Bahru Station,"51, 139, 186, 970.",BUKIT MERAH,SOUTH,GOVERNMENT SCHOOL,CO-ED SCHOOL,PRIMARY,1.291299035,103.82394079999999
4,ANCHOR GREEN PRIMARY SCHOOL,31 Anchorvale Drive,544969,MRT : NE16-Sengkang LRT : SW7-TongKang,Bus 163 & 372,SENG KANG,NORTH,GOVERNMENT SCHOOL,CO-ED SCHOOL,PRIMARY,1.390662478,103.8872561

In [21]:
file.to_csv('./Primary School V4.csv')